<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      const tong = new WeakMap();
      let activeEffect;
      const effectStack = [];

      const jobQueue = new Set();
      const p = Promise.resolve();
      let isFlushing = false;
      function flushJob() {
        if (isFlushing) return;
        isFlushing = true;
        p.then(() => {
          jobQueue.forEach((job) => job());
        }).finally(() => {
          isFlushing = false;
        });
      }

      function effect(fn, options = {}) {
        const effectFn = () => {
          cleanup(effectFn);
          activeEffect = effectFn;
          effectStack.push(effectFn);
          const res = fn();
          effectStack.pop();
          activeEffect = effectStack.at(-1);
          return res;
        };
        effectFn.options = options;
        effectFn.deps = [];
        if (!options.lazy) {
          effectFn();
        }
        return effectFn;
      }
      function cleanup(effectFn) {
        for (let i = 0; i < effectFn.deps.length; i++) {
          const deps = effectFn.deps[i];
          deps.delete(effectFn);
        }
        effectFn.deps.length = 0;
      }
      function track(target, key) {
        if (!activeEffect) return;
        let depsMap = tong.get(target);
        if (!depsMap) {
          tong.set(target, (depsMap = new Map()));
        }
        let deps = depsMap.get(key);
        if (!deps) {
          depsMap.set(key, (deps = new Set()));
        }
        deps.add(activeEffect);
        activeEffect.deps.push(deps);
      }
      function trigger(target, key) {
        const depsMap = tong.get(target);
        if (!depsMap) return;
        const effects = depsMap.get(key);
        const effectsToRun = new Set();
        effects &&
          effects.forEach((fn) => {
            if (fn !== activeEffect) {
              effectsToRun.add(fn);
            }
          });
        effectsToRun.forEach((fn) => {
          if (fn.options.scheduler) {
            fn.options.scheduler(fn);
          } else {
            fn();
          }
        });
      }

      function computed(getter) {
        let value;
        let dirty = true;
        const effectFn = effect(getter, {
          lazy: true,
          scheduler() {
            if (!dirty) {
              dirty = true;
              trigger(obj, 'value');
            }
          },
        });
        const obj = {
          get value() {
            console.log(dirty);
            if (dirty) {
              value = effectFn();
              dirty = false;
            }
            track(obj, 'value');
            return value;
          },
        };
        return obj;
      }

      const data = { foo: 1, bar: 7 };
      const obj = new Proxy(data, {
        get(target, key) {
          track(target, key);
          return target[key];
        },
        set(target, key, newValue) {
          target[key] = newValue;
          trigger(target, key);
        },
      });
      const sumRes = computed(() => obj.foo + obj.bar);
      effect(() => {
        console.log(sumRes.value);
      });
      console.log(sumRes.value);

      obj.foo++;
      obj.foo++;
      obj.foo++;
      obj.foo++;
    </script>
  </body>
</html>
