<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      const tong = new WeakMap();
      let activeEffect;
      const effectStack = [];
      const ITERATE_KEY = Symbol();
      const TriggerType = {
        SET: 'SET',
        ADD: 'ADD',
        DELETE: 'DELETE',
      };
      const jobQueue = new Set();
      const p = Promise.resolve();
      let isFlushing = false;
      function flushJob() {
        if (isFlushing) return;
        isFlushing = true;
        p.then(() => {
          jobQueue.forEach((job) => job());
        }).finally(() => {
          isFlushing = false;
        });
      }

      function effect(fn, options = {}) {
        const effectFn = () => {
          cleanup(effectFn);
          activeEffect = effectFn;
          effectStack.push(effectFn);
          const res = fn();
          effectStack.pop();
          activeEffect = effectStack.at(-1);
          return res;
        };
        effectFn.options = options;
        effectFn.deps = [];
        if (!options.lazy) {
          effectFn();
        }
        return effectFn;
      }
      function cleanup(effectFn) {
        for (let i = 0; i < effectFn.deps.length; i++) {
          const deps = effectFn.deps[i];
          deps.delete(effectFn);
        }
        effectFn.deps.length = 0;
      }
      function track(target, key) {
        if (!activeEffect) return;
        let depsMap = tong.get(target);
        if (!depsMap) {
          tong.set(target, (depsMap = new Map()));
        }
        let deps = depsMap.get(key);
        if (!deps) {
          depsMap.set(key, (deps = new Set()));
        }
        deps.add(activeEffect);
        activeEffect.deps.push(deps);
      }
      function trigger(target, key, type) {
        const depsMap = tong.get(target);
        if (!depsMap) return;
        const effects = depsMap.get(key);
        const effectsToRun = new Set();
        effects &&
          effects.forEach((fn) => {
            if (fn !== activeEffect) {
              effectsToRun.add(fn);
            }
          });
        console.log(type, key);

        if (type === TriggerType['ADD'] || type === TriggerType['DELETE']) {
          const iterateEffects = depsMap.get(ITERATE_KEY);
          iterateEffects &&
            iterateEffects.forEach((effectFn) => {
              if (effectFn !== activeEffect) {
                effectsToRun.add(effectFn);
              }
            });
        }
        effectsToRun.forEach((fn) => {
          if (fn.options.scheduler) {
            fn.options.scheduler(fn);
          } else {
            fn();
          }
        });
      }

      const data = {
        foo: 1,
      };
      const obj = new Proxy(data, {
        has(target, key) {
          track(target, key);
          return Reflect.has(target, key);
        },
        get(target, key, reiview) {
          track(target, key);
          return Reflect.get(target, key, reiview);
        },
        set(target, key, newValue, receiver) {
          const type = Object.prototype.hasOwnProperty.call(target, key) ? 'SET' : 'ADD';
          const res = Reflect.set(target, key, newValue, receiver);
          target[key] = newValue;
          trigger(target, key, type);
          return res;
        },
        ownKeys(target) {
          track(target, ITERATE_KEY);
          return Reflect.ownKeys(target);
        },
        deleteProperty(target, key) {
          const hadKey = Object.prototype.hasOwnProperty.call(target, key);
          const res = Reflect.deleteProperty(target, key);
          if (res & hadKey) {
            trigger(target, key, 'DELETE');
          }
          return res;
        },
      });

      effect(() => {
        for (const key in obj) {
          console.log('key: ', key);
        }
      });
      obj.foo = 2;
      delete obj.foo;
      obj.foo++;
    </script>
  </body>
</html>
