<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div id="app"></div>

    <script type="module">
      import { reactive, effect, shallowReactive } from './index.js';
      function shouldSetAsProps(el, key, value) {
        if (key === 'form' && el.tagName === 'INPUT') return false;
        return key in el;
      }

      function normalizeClass(targrt) {
        return targrt.reduce((pre, next) => {
          if (typeof next === 'string') {
            pre += next;
          } else {
            for (const key in next) {
              if (next[key]) {
                pre = pre + ' ' + key;
              }
            }
          }
          return pre;
        }, '');
      }

      const queue = new Set();
      let isFlushing = false;
      const p = Promise.resolve();
      function queueJob(job) {
        queue.add(job);
        if (!isFlushing) {
          isFlushing = true;
          p.then(() => {
            try {
              queue.forEach((job) => job());
            } finally {
              isFlushing = false;
              queue.clear = 0;
            }
          });
        }
      }

      const Fragment = Symbol();
      function createRenderer(options) {
        const { createElement, insert, setElementText, patchProps, createText, setText } = options;
        function mountElement(vnode, container) {
          const el = (vnode.el = createElement(vnode.type));
          if (typeof vnode.children === 'string' || typeof vnode.children === 'number') {
            setElementText(el, vnode.children);
          } else if (Array.isArray(vnode.children)) {
            vnode.children.forEach((child) => {
              patch(null, child, el);
            });
          }
          if (vnode.props) {
            for (const key in vnode.props) {
              patchProps(el, key, null, vnode.props[key]);
            }
          }

          insert(el, container);
        }
        function hasPropsChanged(prevProps, nextProps) {
          const nextKeys = Object.keys(nextProps);
          if (nextKeys.length !== Object.keys(prevProps).length) {
            return true;
          }
          for (let i = 0; i < nextKeys.length; i++) {
            const key = nextKeys[i];
            if (nextProps[key] !== prevProps[key]) return true;
          }
          return false;
        }

        function resolveProps(options, propsData) {
          const props = {};
          const attrs = {};
          for (const key in propsData) {
            if ((options && key in options) || key.startsWith('on')) {
              props[key] = propsData[key];
            } else {
              attrs[key] = propsData[key];
            }
          }

          return [props, attrs];
        }
        function patchComponent(n1, n2, anchor) {
          const instance = (n2.component = n1.component);
          const { props } = instance;
          if (hasPropsChanged(n1.props, n2.props)) {
            const [nextProps] = resolveProps(n2.type.props, n2.props);
            for (const k in nextProps) {
              props[k] = nextProps[k];
            }
            for (const k in props) {
              // 没有该props 删除操作
              if (!(k in nextProps)) delete props[k];
            }
          }
        }
        function mountComponent(vnode, container, anchor) {
          const componentOptions = vnode.type;
          const {
            render,
            data,
            props: propsOptions,
            computed,
            methods,
            beforeCreate,
            created,
            beforeMount,
            mounted,
            beforeUpdate,
            updated,
          } = componentOptions;
          console.log(propsOptions, 'propsOptions');
          if (!render) {
            return console.warn('组件必须提供 render 方法');
          }
          beforeCreate && beforeCreate();
          const state = reactive(data());
          const [props, attrs] = resolveProps(propsOptions, vnode.props);
          console.log(props, attrs, 'props, attrs');
          const instance = {
            state,
            isMounted: false,
            subTree: null,
            props: shallowReactive(props),
            methods,
            computed,
          };
          vnode.component = instance;
          const renderContext = new Proxy(instance, {
            get(t, k, r) {
              const { state, props, methods, computed, slots } = t;
              if (k === '$slots') return slots;
              if (state && k in state) {
                return state[k];
              } else if (k in props) {
                return props[k];
              } else if (k in methods) {
                return methods[k];
              } else if (k in computed) {
                return computed[k]();
              } else {
                console.error('不存在');
              }
            },
            set(t, k, v, r) {
              const { state, props, methods } = t;
              if (state && k in state) {
                state[k] = v;
              } else if (k in props) {
                props[k] = v;
              } else if (k in methods) {
                return methods[k];
              } else if (k in computed) {
                return computed[k]();
              } else {
                console.error('不存在');
              }
            },
          });

          // created
          created && created.call(renderContext);
          effect(
            () => {
              // props 也可this获取的原理
              const subTree = render.call(renderContext, renderContext);
              if (!instance.isMounted) {
                console.log('挂载了');
                beforeMount && beforeMount.call(renderContext);
                // 第一次挂载
                patch(null, subTree, container, anchor);
                instance.isMounted = true;
                mounted && mounted.call(renderContext);
              } else {
                beforeUpdate && beforeUpdate.call(renderContext);
                patch(instance.subTree, subTree, container, anchor);
                updated && updated.call(renderContext);
              }
              instance.subTree = subTree;
            },
            {
              scheduler: queueJob,
            }
          );
        }

        function unmounted(vnode) {
          if (vnode.type === Fragment) {
            return vnode.children.forEach((e) => unmounted(e));
          }
          const parent = vnode.el.parentNode;
          if (parent) parent.removeChild(vnode.el);
        }

        function patchElement(n1, n2) {
          const el = (n2.el = n1.el);
          const oldProps = n1.props;
          const newProps = n2.props;

          for (const key in newProps) {
            if (newProps[key] !== oldProps[key]) {
              patchProps(el, key, oldProps[key], newProps[key]);
            }
          }
          for (const key in oldProps) {
            if (newProps) {
              // 更新节点有props再执行更新props操作
              if (!(key in newProps)) {
                patchProps(el, key, oldProps[key], null);
              }
            } else {
              // 更新节点无props
              patchProps(el, key, newProps, null);
            }
          }
          patchChildren(n1, n2, el);
        }

        function patchChildren(n1, n2, container) {
          if (typeof n2.children === 'string') {
            if (Array.isArray(n1.children)) {
              n1.children.forEach((c) => unmounted(c));
            }
            setElementText(container, n2.children);
          } else if (Array.isArray(n2.children)) {
            const oldChildren = n1.children;
            const newChildren = n2.children;
            const oldLen = oldChildren.length;
            const newLen = newChildren.length;
            const commonLength = Math.min(oldLen, newLen);
            for (let index = 0; index < commonLength; index++) {
              // 长度相同更新
              patch(oldChildren[index], newChildren[index], container);
            }
            if (newLen > oldLen) {
              // 新增节点打补丁
              for (let i = commonLength; i < newLen; i++) {
                patch(null, newChildren[i], container);
              }
            } else if (oldLen > newLen) {
              // 删除节点打补丁
              for (let i = commonLength; i < oldLen; i++) {
                unmounted(oldChildren[i]);
              }
            }
          } else {
            if (Array.isArray(n1.children)) {
              n1.children.forEach((c) => unmounted(c));
              // patch(null, n2.children, container);
            } else if (typeof n1.children === 'string') {
              setElementText(container, '');
            }
          }
        }

        function patch(n1, n2, container, anchor) {
          // 新旧 vnode类型不一致 直接将旧的vnode卸载
          if (n1 && n1.type !== n2.type) {
            unmounted(n1);
            n1 = null;
          }
          const { type } = n2;
          console.log(type, '=>type');
          if (typeof type === 'string') {
            if (!n1) {
              mountElement(n2, container);
            } else {
              patchElement(n1, n2);
            }
          } else if (typeof type === Text) {
            // 文本
            if (!n1) {
              const el = (n2.el = createText(n2.children));
              insert(el, container);
            }
          } else if (type === Fragment) {
            if (!n1) {
              n2.children.forEach((e) => {
                patch(null, e, container);
              });
            } else {
              patchChildren(n1, n2, container);
            }
          } else if (typeof type === 'object') {
            if (!n1) {
              mountComponent(n2, container, anchor);
            } else {
              // 组件一致应该更新;
              patchComponent(n1, n2, anchor);
            }
          } else {
            const el = (n2.el = n1.el);
            if (n2.children !== n1.children) {
              setText(el, n2.children);
            }
          }
        }

        function render(vnode, container) {
          if (vnode) {
            console.log(container._vnode, vnode, 'container._vnode, vnodecontainer._vnode, vnode');
            patch(container._vnode, vnode, container);
          } else {
            if (container._vnode) {
              // 封装 可调用其他方法
              unmounted(container._vnode);
            }
          }
          container._vnode = vnode;
        }
        return {
          render,
        };
      }

      const renderer = createRenderer({
        createElement(tag) {
          return document.createElement(tag);
        },
        setElementText(el, text) {
          el.textContent = text;
        },
        insert(el, parent, anchor = null) {
          parent.insertBefore(el, anchor);
        },
        createText(text) {
          return document.createTextNode(text);
        },
        setText(el, text) {
          el.nodeValue = text;
        },
        patchProps(el, key, preValue, nextValue) {
          if (/^on/.test(key)) {
            const invokers = el._vei || (el._vei = {});
            let invoker = invokers[key];
            const name = key.slice(2).toLowerCase();
            if (nextValue) {
              if (!invoker) {
                invoker = el._vei[key] = (e) => {
                  console.log(e, '=>e');
                  if (e.timeStamp < invoker.attached) return;
                  if (Array.isArray(invoker.value)) {
                    invoker.value.forEach((fn) => fn(e));
                  } else {
                    invoker.value(e);
                  }
                };
                invoker.value = nextValue;
                invoker.attached = performance.now();
                el.addEventListener(name, invoker);
              } else {
                invoker.value = nextValue;
              }
            } else if (invoker) {
              el.removeEventListener(name, invoker);
            }
          } else if (key === 'class') {
            // 有值再去设置
            if (nextValue) {
              el.className = nextValue;
            } else {
              // 删除已设置的className
              el.removeAttribute('class');
            }
          } else if (shouldSetAsProps(el, key, nextValue)) {
            const type = typeof el[key];
            if (type === 'boolean' && nextValue === '') {
              el[key] = true;
            } else {
              el[key] = nextValue;
            }
          } else {
            if (nextValue) {
              el.setAttribute(key, nextValue);
            } else {
              // 删除已设置的className
              el.removeAttribute(key);
            }
          }
        },
      });
      const Wsm = {
        name: 'Wsm',
        data() {
          return {
            foo: 'hello world',
          };
        },
        beforeMount() {
          console.log('beforeMount 执行');
        },
        created() {
          console.log('created 执行');
        },
        mounted() {
          console.log('mouted 执行');
        },
        props: {
          title: String,
          wsm: String,
        },
        methods: {
          see() {
            console.log(this, 'this');
            console.log(this.title);
          },
        },
        computed: {
          acc() {
            console.log(this, 'this');
            return this.title + '10';
          },
        },
        render() {
          return {
            type: 'p',
            children: `foo的值为 ${this.foo},${this.wsm},a:${this.acc}`,
            props: {
              href: 'https://www.baidu.com',
              target: '_blank',
              onClick: () => {
                this.see();
              },
            },
          };
        },
      };
      const component = {
        type: Wsm,
        props: {
          title: '拖拉机',
          wsm: 'wsm',
        },
      };
      renderer.render(component, document.querySelector('#app'));
      setTimeout(() => {
        renderer.render(
          {
            type: Wsm,
            props: {
              title: '拖拉机',
            },
          },
          document.querySelector('#app')
        );
      }, 1000);
    </script>
  </body>
</html>
