<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      const tong = new WeakMap();
      let activeEffect;
      const effectStack = [];
      const ITERATE_KEY = Symbol();
      const TriggerType = {
        SET: 'SET',
        ADD: 'ADD',
        DELETE: 'DELETE',
      };
      const jobQueue = new Set();
      const p = Promise.resolve();
      let isFlushing = false;

      // 改写方法 begin
      const arrayInstrumentations = {};
      ['includes', 'indexof', 'lastIndexOf'].forEach((e) => {
        const originalMethod = Array.prototype[e];
        arrayInstrumentations[e] = function (...args) {
          let res = originalMethod.apply(this, args);
          if (res === false || res === -1) {
            res = originalMethod.apply(this.raw, args);
          }
          return res;
        };
      });
      let shouldTrack = true;
      ['push', 'pop', 'shift', 'unshift', 'splice'].forEach((e) => {
        const originalMethod = Array.prototype[e];
        arrayInstrumentations[e] = function (...args) {
          shouldTrack = false;
          let res = originalMethod.apply(this, args);
          shouldTrack = true;
          return res;
        };
      });
      // 改写方法 end

      function flushJob() {
        if (isFlushing) return;
        isFlushing = true;
        p.then(() => {
          jobQueue.forEach((job) => job());
        }).finally(() => {
          isFlushing = false;
        });
      }

      function effect(fn, options = {}) {
        const effectFn = () => {
          cleanup(effectFn);
          activeEffect = effectFn;
          effectStack.push(effectFn);
          const res = fn();
          effectStack.pop();
          activeEffect = effectStack.at(-1);
          return res;
        };
        effectFn.options = options;
        effectFn.deps = [];
        if (!options.lazy) {
          effectFn();
        }
        return effectFn;
      }

      function cleanup(effectFn) {
        for (let i = 0; i < effectFn.deps.length; i++) {
          const deps = effectFn.deps[i];
          deps.delete(effectFn);
        }
        effectFn.deps.length = 0;
      }

      function track(target, key) {
        if (!activeEffect || !shouldTrack) return;
        let depsMap = tong.get(target);
        if (!depsMap) {
          tong.set(target, (depsMap = new Map()));
        }
        let deps = depsMap.get(key);
        if (!deps) {
          depsMap.set(key, (deps = new Set()));
        }
        deps.add(activeEffect);
        activeEffect.deps.push(deps);
      }

      function trigger(target, key, type, newValue) {
        const depsMap = tong.get(target);
        if (!depsMap) return;

        const effects = depsMap.get(key);
        const effectsToRun = new Set();
        effects &&
          effects.forEach((fn) => {
            if (fn !== activeEffect) {
              effectsToRun.add(fn);
            }
          });

        console.log(type, target, key);

        if (type === TriggerType['ADD'] || type === TriggerType['DELETE']) {
          const iterateEffects = depsMap.get(
            Array.isArray(target) && type === TriggerType['ADD'] ? 'length' : ITERATE_KEY
          );
          iterateEffects &&
            iterateEffects.forEach((effectFn) => {
              if (effectFn !== activeEffect) {
                effectsToRun.add(effectFn);
              }
            });
        }
        if (Array.isArray(target) && key === 'length') {
          depsMap.forEach((effects, key) => {
            if (key >= newValue) {
              effects.forEach((effectFn) => {
                if (effectFn !== activeEffect) {
                  effectsToRun.add(effectFn);
                }
              });
            }
          });
        }
        effectsToRun.forEach((effectFn) => {
          if (effectFn.options.scheduler) {
            effectFn.options.scheduler(effectFn);
          } else {
            effectFn();
          }
        });
      }

      function createReactive(obj, isShallow = false, isReadonly = false) {
        return new Proxy(obj, {
          has(target, key) {
            track(target, key);
            return Reflect.has(target, key);
          },
          get(target, key, receiver) {
            if (key === 'raw') {
              return target;
            }
            if (Array.isArray(target) && arrayInstrumentations.hasOwnProperty(key)) {
              return Reflect.get(arrayInstrumentations, key, receiver);
            }
            // 非只读时候才需要建立响应式
            if (!isReadonly && typeof key !== 'symbol') {
              track(target, key);
            }
            // 处理嵌套问题
            const res = Reflect.get(target, key, receiver);
            if (isShallow) {
              return res;
            }
            if (typeof res === 'object' && res !== 'null') {
              return isReadonly ? readonly(res) : reactive(res);
            }
            return res;
          },
          set(target, key, newValue, receiver) {
            if (isReadonly) {
              console.warn(`属性 ${key} 只读属性`);
              return true;
            }
            // 新旧值比较
            // 比较NaN
            const oldValue = target[key];
            const type = Array.isArray(target)
              ? Number(key) < target.length
                ? TriggerType['SET']
                : TriggerType['ADD']
              : Object.prototype.hasOwnProperty.call(target, key)
              ? TriggerType['SET']
              : TriggerType['ADD'];
            const res = Reflect.set(target, key, newValue, receiver);
            if (target === receiver.raw) {
              if (oldValue !== newValue && (oldValue === oldValue || newValue === newValue)) {
                trigger(target, key, type, newValue);
              }
            }
            return res;
          },
          ownKeys(target) {
            track(target, Array.isArray(target) ? 'length' : ITERATE_KEY);
            return Reflect.ownKeys(target);
          },
          deleteProperty(target, key) {
            if (isReadonly) {
              console.warn(`属性 ${key} 只读属性`);
              return true;
            }
            const hadKey = Object.prototype.hasOwnProperty.call(target, key);
            const res = Reflect.deleteProperty(target, key);
            if (res & hadKey) {
              trigger(target, key, 'DELETE');
            }
            return res;
          },
        });
      }
      const reactiveMap = new Map();
      function reactive(obj) {
        const existionProxy = reactiveMap.get(obj);
        if (existionProxy) return existionProxy;
        const proxy = createReactive(obj);
        reactiveMap.set(obj, proxy);
        return proxy;
      }
      function shallowReactive(obj) {
        return createReactive(obj, true);
      }
      function readonly(obj) {
        return createReactive(obj, false, true /*只读*/);
      }
      function shallowReadOnly(obj) {
        return createReactive(obj, true /*shallow*/, true /*只读*/);
      }

      // const arr = reactive(['a', 1, 2, 3]);
      // effect(() => {
      //   for (const key in arr) {
      //     console.log('key=>', key);
      //   }
      // });
      // arr[1] = 'arr';
      // arr.length = 10;

      // const obj = {
      //   val: 0,
      //   [Symbol.iterator]() {
      //     return {
      //       next() {
      //         return {
      //           value: obj.val++,
      //           done: obj.val > 20 ? true : false,
      //         };
      //       },
      //     };
      //   },
      // };
      // for (const value of obj) {
      //   console.log(value);
      // }

      // const arr1 = [1, 2, 3, 4, 5];
      // arr1[Symbol.iterator] = () => {
      //   const target = this;
      //   const length = target.length;
      //   let index = 0;
      //   return {
      //     next() {
      //       return {
      //         value: index < length ? target[index] : undefined,
      //         done: index++ >= length,
      //       };
      //     },
      //   };
      // };

      // const arr1 = reactive(['a', 1, 2, 3]);
      // effect(() => {
      //   console.log(arr1.includes(1));
      // });
      // arr1[1] = 3;

      // const obj = {};
      // const arr2 = reactive([obj]);
      // console.log(arr2.includes(arr2[0]));

      // const obj = {};
      // const arr2 = reactive([obj]);
      // console.log(arr2.includes(obj));
      const arr = reactive([]);
      effect(() => {
        arr.push(1);
      });
      effect(() => {
        arr.push(1);
      });
    </script>
  </body>
</html>
